:root{
  --green: #00FF00;
  --white: #ffffff;
  --black: #000000;
}


.light-theme{
  --bg:var(--green);
  --fontColor:var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);

}


.dark-theme{
  --bg:var(--black);
  --fontColor:var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}


*{
  color:var(--fontColor);
  font-family:  Helvetica
}

/* This search for varialbe --fontColor and if the class is dark theme then it gets the value  of --fontColor from the dark themes class and vice versa. */ 


body{
  background: var(--bg);
}
/* This search for varialbe --bg and if the class is dark theme then it gets the value  of --bg from the dark themes class and vice versa. */ 


ul{
  font-family: helvetica;
}


li{
  list-style: circle;
}


.list{
  list-style: square;
}

.btn{
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  top:20px;
  left:200px;
  width:50px;
  height: 50px;
  border-radius: 50%;
  border:none;
  position: absolute;
  /*transform: translateX(100);*/
  font-size:16px;
}

.btn:focus{
  outline-style: none;
}
